*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    /* border: 1px solid red; */
}
p{
    color: var(--blackColor);
}

body{
    position: relative;
}

:root{
    --orangColor:  #ea9e05;
    --waiteColor:white ;
    --blackColor: rgb(51,51,51);
    --backgroundColor: rgb(249,247,242);
    /* --mineFont:'Raleway', sans-serif;
    --paragraphFont: 'Changa', sans-serif; */
}



/* Start Scrol*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb{
    background-color:var(--orangColor) ;
    border-radius: 5px;
}
/* End Scrol*/

.scroll-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 5px;
    width: 0;
    border-radius: 10px;
    background-color: var(--blackColor);
}



/* <!-- Start Global Element --> */
.scroll-icon{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--orangColor);
    border-radius: 50%;
    z-index: 100000;
    text-align: center;
    display: none;
    transition: .6s;
}
.fa-arrow-up{
    color: var(--waiteColor);
    font-size: 30px;
}
.scroll-icon:hover{
    background-color: #ad7505;
}
/* <!-- End Global Element --> */



/* <!-- Start header --> */
.navbar{
    background-color: var(--orangColor);
    z-index: 111111;
    top: 0;
    left:0;
    right:  0;
    
}
.navegetion{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10000;
    background-color: var(--orangColor);
}
.items-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 30px;
    z-index: 1000;
}
.nav-item a{
    text-decoration: none;
    list-style: none;
    color: var(--waiteColor);
    font-size: 18px;
    margin-left: 30px;
    position: relative;
}
.nav-item a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--blackColor);
    position: absolute;
    bottom: -2px;
    left: 5px;
    transition: .5s;
}
.nav-item a:hover::after{
    width: 60px;
}
.nav-item a:hover{
    color:var(--blackColor);
}
.nav-item a:focus{
    color: var(--blackColor);
}
/* <!-- End header --> */




/* <!-- Start Landing --> */

/* <!-- END Landing --> */



/* <!-- Start Section1 --> */
.saids{
    animation: saids 4s 1;
}
@keyframes saids{
    from{margin-top: 200px;
        opacity: 0;
    }
    to{margin-bottom: 0;
    opacity: 100%;
    }
}
.items-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: -100px; */
}
.items-section1-h1{
    position: relative;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 70px;
    color:var(--blackColor);
}
.items-section1-h1::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #ea9e05;
    top: 25px;
    left: -160px;
    border-radius: 10px;
    
}
.items-section1-h1::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #ea9e05;
    top: 25px;
    right: -160px;
    border-radius: 10px;
} 
/* lift */
.lift-saied{
    position: relative;
}
.lift-saied::after{
    content: "";
    width: 20px;
    height: 350px;
    background-color: var(--orangColor);
    position: absolute;
    top: 20px;
    left: -8px;
}
.section1-img1{
    position: relative;
    width: 400px;
    height: 400px;
}
.section1-img2{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 200px;
    left: 220px;
}
.fly-div{
    position: absolute;
    top: 30px;
    left: -80px;
    width: 240px;
    background-color: var(--waiteColor);
    color: var(--blackColor);
    z-index: 100;
    display: flex;
    padding: 30px;
    box-shadow: 1px 1px 5px rgb(49, 49, 49);
    cursor: pointer;
}
.fly-div .fa-truck-fast{
    font-size: 40px;
    color: var(--orangColor);
    margin-right: 6px;
}
.fly-div p{
    font-size: 13px;
    color: var(--blackColor);
}
.fly-div p span{
    font-size: 18px;
    color: var(--blackColor);
    font-weight: 500;
}

/* right */
.right-saied{
    position: relative;
}
.right-saied::after{
    content: "";
    width: 20px;
    height: 3px;
    background-color: var(--orangColor);
    position: absolute;
    top: 9px;
    left: -13px;
}
.right-saied .p1{
    font-size: 13px;
    opacity: 50%;
    letter-spacing: 4px;
}
.right-saied h1{
    font-weight: 700;
}
.right-saied .p2{
    color: var(--orangColor);
    margin-top: 30px;
}
.right-saied .p3{
    opacity: 50%;
    font-size: 12px;
}
.fa-check{
    background-color: var(--orangColor);
    border-radius: 50%;
    padding: 5px;
    color: var(--waiteColor);
    font-size: 10px;
    margin-right: 10px;
}
.right-saied-img1{
    width: 60px;
    height: 60px;
    border: 6px solid var(--waiteColor);
    border-radius: 50%;
    outline: 1px solid var(--orangColor);
}
.right-saied-img{
    position: relative;
}
.right-saied-img::after{
    content: "";
    width: 5px;
    height: 50px;
    background-color: var(--orangColor);
    position: absolute;
    top: 5px;
    left: -20px;
}
.right-saied-img2{
    width: 200px;
    height: 50px;
    margin-left: 10px;
}
/* / <!-- End Section1 --> */ 




/* <!-- Start Section2 --> */
.products{
    background:  linear-gradient(rgba(0, 0, 0, 0.65) 0% 100%),  url(https://algabr.com/wp-content/uploads/2021/12/IMG-20200420-WA0007.jpg) ;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.items-section2::after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.883);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
.items-section2-img{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
.section2-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    z-index: 100;
}
.section2-text-h1{
    position: relative;
    font-weight: 600;
    color: var(--waiteColor);
}
.section2-text-h1::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #ea9e05;
    top: 25px;
    left: -100px;
    border-radius: 10px;
    
}
.section2-text-h1::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #ea9e05;
    top: 25px;
    right: -100px;
    border-radius: 10px;
    
}
.section2-text-h3{
    color: var(--waiteColor);
    font-weight: 400;
    margin-bottom: 60px;
    margin-top: 20px;
}
.cards {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 150px;
}

/* omia */
.cards .red {
    background-image:url(../asstes/images/portfolio-8.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.cards .blue {
    background-image:url(../asstes/images/portfolio-7.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.cards .green {
    background-image:url(../asstes/images/portfolio-13.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
/* pvc */
.section2-text-pvc{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    z-index: 100;
}
.section2-text-h1-pvc{
    position: relative;
    font-weight: 600;
    color: var(--waiteColor);
    z-index: 100;
}
.section2-text-h1-pvc::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #ea9e05;
    top: 25px;
    left: 105px;
    border-radius: 10px;
    
}
.section2-text-h1-pvc::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #ea9e05;
    top: 25px;
    right: 105px;
    border-radius: 10px;
    
}
.section2-text-h3-pvc{
    color: var(--waiteColor);
    font-weight: 400;
    margin-bottom: 60px;
    margin-top: -70px;
    z-index: 100;
}
.cards .pvc1 {
    background-image:url(../asstes/images/pvc1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.cards .pvc2 {
    background-image:url(../asstes/images/pvc2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.cards .pvc3 {
    background-image:url(../asstes/images/pvc3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.cards-fly-div{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.564);
    color: var(--orangColor);
    padding: 10px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    transition: .6s;
}
.cards-fly-div p{
    color: rgba(255, 255, 255, 0.559);
    font-weight: 400;
    font-size: 15px;
} 
.cards .card:hover .cards-fly-div{
    opacity: 100%;
} 
.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    color: var(--waiteColor);
    cursor: pointer;
    z-index: 100 ;
    transition: 400ms;
}


.cards .card:hover{
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}
/* <!-- End Section2 --> */




/* <!-- Start Section4 --> */

.section4-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section4-text{
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
}
.section4-text::after{
    content: "";
    width: 150px;
    height: 5px;
    position: absolute;
    left: -160px;
    top: 22px;
    background-color: #ea9e05;
    border-radius: 30px;
}
.section4-text::before{
    content: "";
    width: 150px;
    height: 5px;
    position: absolute;
    right: -160px;
    top: 22px;
    background-color: #ea9e05;
    border-radius: 30px;
}



/* Card */

.card-client {
    background: #ea9e05;
    width: 100%;
    padding: 25px 25px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
}

.card-client:hover {
    transform: translateY(-10px);
}

.user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 4px solid #ffffff;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.user-picture-img1{
    width: 150px;
    height: 150px;
}

.name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #ffffff;
}

.social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a i{
    width: 20px;
    /* fill: currentColor; */
}

/*-- Tooltip Social Media --*/
.tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
    border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}
/* <!-- End Section4 --> */


/* <!-- Start Section3 --> */

.items-section3{
    padding: 20px;
    margin-top: 100px;
}
.items-section3-text{
    position: relative;
    text-align: center;
}
.items-section3-text h1{
    position: relative;
    font-weight: 600;
    color: var(--blackColor);
    margin-bottom: 100px;
}
.items-section3-text h1::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #ea9e05;
    top: 22px;
    left: 35%;
    border-radius: 10px;
    
}
.items-section3-text ::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #ea9e05;
    top: 22px;
    right: 35%;
    border-radius: 10px;
    
}

.section3-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -30px;
}
.section3-form-input1{
    width: 490px;
    height: 50px;
    padding: 10px;
    border: .5px solid rgb(72, 72, 72) ;
    border-radius: 20px;
    transition: .9s;
}
.section3-form-input3{
    width: 80%;
    height: 50px;
    padding: 10px;
    border: .5px solid rgb(72, 72, 72) ;
    border-radius: 20px;
    transition: .9s;
}
.like-button{
    background-color: #ffaa00;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition: .6s;
}
.like-button:hover{
    background-color: #c58403;
}
.section3-form-input3:focus,
.section3-form-input1:focus{
    border: 3px solid #ea9e05;
    outline: none;
}
/* <!-- End Section3 --> */



/* <!-- Start Footer  --> */

.footer-items{
    animation: footer-items 4s 1;
}
@keyframes footer-items{
    from{margin-top: 200px;
        opacity: 0;
    }
    to{margin-bottom: 0;
    opacity: 100%;
    }
}
.items-footer{
    background-image: url(https://wallpaperaccess.com/full/127234.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}

.footer-img{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
.footer-items{
    padding: 90px ;
    background: rgb(0, 0, 0,.6);
}
.footer-logo{
    width: 200px;
    /* margin-right: 300px; */
    margin-bottom: 50px;
}
/* blok 1 */
.footer-blok1{
    color: var(--waiteColor);
}
.footer-blok1 h4{
    margin-bottom: 40px;
}
.footer-blok1 ul{
    padding: 0 ;
    display: flex;
}
.footer-blok1 a{
    text-decoration: none;
    list-style: none;
    padding: 12px;
    background-color: var(--blackColor);
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    width: 40px;
    height: 40px;
    transition: .6s ;
}
.footer-blok1 a:hover{
    background-color: var(--waiteColor);
    transform: rotate(360deg);
}
.footer-blok1 .l:hover{
    color: white;
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
}

/* blok 2 */
.footer-blok2{
    color: var(--waiteColor);
}
.footer-blok2 ul{
    padding: 0;
    margin-top: 40px;
}
.footer-blok2 a{
    text-decoration: none;
    list-style: none;
    color: #ffffffb9;
    position: relative;
    margin-left: 0px;
    transition: .6s;
}
.footer-blok2 a::after{
    content: "";
    width:0;
    height: 3px;
    position: absolute;
    background-color: var(--orangColor);
    top: 12px;
    left: -21px;
    transition: .5s;
}
.footer-blok2 a:hover::after{
    width:  19px;
}
.footer-blok2 a:hover{
    color: var(--waiteColor);
    margin-left: 20px;
}

/* blok3 */
.footer-blok3{
    color: var(--waiteColor);
}
.footer-blok3 ul{
    padding: 0;
    margin-top: 40px;
}
.footer-blok3 a{
    text-decoration: none;
    list-style: none;
    color: #ffffffb9;
    transition: .6s;
}
.footer-blok3 a:hover{
    color: var(--waiteColor);
}
.fa-phone,
.fa-envelope,
.fa-location-dot{
    color: var(--orangColor);
}

/* blok3 */
.footer-blok4{
    color: var(--waiteColor);
}
.footer-blok4 ul{
    padding: 0;
    margin-top: 40px;
}
.footer-blok4 p{
    color: #ffffffb9;
    font-size: 13px;
    margin-left: 0px;
    transition: .6s;
    margin-top: 40px;
}
.input-wrapper {
    position: relative;
    width: 100%;
    margin: 50px auto;
}
.input-box {
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    color: var(--waiteColor);
    width: 100%;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
}
.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--orangColor);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.input-box:focus {
    border-color: var(--orangColor);
    outline: none;
}
.input-box:focus + .underline {
    transform: scaleX(1);
}
.fa-telegram{
    color: var(--orangColor);
    position: absolute;
    top: 13px;
    right: 0;
}
.text-up{
    top: 50%;
    left: 10%;
    transform: translate(-10% );
    /* font-size: 60px; */
}
.product{
    background-color: var(--orangColor);
    padding: 10px;
    border-radius: 10px;
}
.img-product img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.carousel-control-next, .carousel-control-prev {
    width: 4%;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.564);
    z-index: 999999 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay div{
    background-color: #fff;
    width: 50%;
}
.closeBtn{
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.img-product{
    cursor: pointer;
}